.container{
  max-width: 1300px;
  width:100%;
  margin: auto;
}
section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text{
  text-align: center;
  font-weight: 700;
  color: #FF0000;
  font-family: roboto;
}
.text:hover{
  text-decoration: underline;
}

h1{
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
.overlay-image {
  position: relative;
  bottom: 4vw; /* Adjust the top and left values to position the overlay image where you want */
  left: 9vw;
  border-radius: 50%;
  z-index: 1; /* Set a higher z-index for the overlay image to ensure it appears on top */
  
}
.card{
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  margin-top: 30px;
}
.card-body-text{
  background-color: #337AB7;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 110px; /* Adjust the top and left values to position the overlay image where you want */
  z-index: 1;
  padding-bottom: 5vw;

}

.Card-text{
  font-family: roboto;
  text-align: center;
}

.Card-text:hover{
  text-decoration: underline;
}

.Card-desc{
  text-align: center;
}
.header{
  margin-left: 50px;
font-family: roboto;
  color: #337AB7 ;
  text-align: left;
  margin-bottom: 15vh;
  margin-top: 3vh;
}
.navbar-header{
  background-color: #337AB7;
}
.navbar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
}

.red-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  margin-top: 0px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}